<div th:fragment="header">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Rent apartment</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">All apartments</a></li>
            <li class="nav-item"><a href="/getAvailableApartments" class="nav-link">Available apartments</a></li>
            <li class="nav-item"><a href="/client" class="nav-link">Clients</a></li>
            <li class="nav-item"><a href="/landlord" class="nav-link">Landlords</a></li>
            <li class="nav-item"><a href="/register" class="nav-link">Sign up</a></li>
            <li class="nav-item"><a href="/landlord/add" class="nav-link">Add landlord</a></li>
        </ul>
    </header>
</div>